[submodule "vraptor-authz"]
	path = vraptor-authz
	url = git://github.com/qmx/vraptor-authz.git
[submodule "vraptor-gson-serializer"]
	path = vraptor-gson-serializer
	url = https://github.com/luizsignorelli/vraptor-gson-serializer.git
[submodule "vraptor-simplemail"]
	path = vraptor-simplemail
	url = https://github.com/caelum/vraptor-simplemail
[submodule "vraptor-freemarker"]
	path = vraptor-freemarker
	url = https://github.com/caelum/vraptor-freemarker
[submodule "vraptor-environment"]
	path = vraptor-environment
	url = https://github.com/caelum/vraptor-environment
[submodule "vraptor-jasperreport"]
	path = vraptor-jasperreport
	url = git@github.com:wpivotto/vraptor-jasperreport.git
[submodule "vraptor-extractor"]
	path = vraptor-extractor
	url = https://github.com/jrdalpra/br.com.caelum.vraptor.util.extractor.git
