[submodule "vraptor-authz"]
	path = vraptor-authz
	url = git://github.com/qmx/vraptor-authz.git
[submodule "vraptor-gson-serializer"]
	path = vraptor-gson-serializer
	url = https://github.com/luizsignorelli/vraptor-gson-serializer.git
[submodule "vraptor-simplemail"]
	path = vraptor-simplemail
	url = https://github.com/caelum/vraptor-simplemail
[submodule "vraptor-freemarker"]
	path = vraptor-freemarker
	url = https://github.com/caelum/vraptor-freemarker
[submodule "vraptor-environment"]
	path = vraptor-environment
	url = https://github.com/caelum/vraptor-environment
[submodule "vraptor-jasperreport"]
	path = vraptor-jasperreport
	url = git@github.com:wpivotto/vraptor-jasperreport.git
[submodule "vraptor-extractor"]
	path = vraptor-extractor
	url = https://github.com/jrdalpra/br.com.caelum.vraptor.util.extractor.git
[submodule "vraptor-sequence-validator"]
	path = vraptor-sequence-validator
	url = git@github.com:felipepedrini/vraptor-sequence-validator.git
[submodule "vraptor-test"]
	path = vraptor-test
	url = git@github.com:caelum/vraptor-test.git
[submodule "vraptor-neo4j"]
	path = vraptor-neo4j
	url = git@github.com:caelum/vraptor-neo4j.git
[submodule "vraptor-gson-plugin"]
	path = vraptor-gson-plugin
	url = git@github.com:acdesouza/vraptor-gson-plugin.git
[submodule "vraptor-templates"]
	path = vraptor-templates
	url = git@github.com:wpivotto/vraptor-templates.git
[submodule "vraptor-tasks"]
	path = vraptor-tasks
	url = git@github.com:wpivotto/vraptor-tasks.git
[submodule "vraptor-qs-serialization"]
	path = vraptor-qs-serialization
	url = https://github.com/moisespsena/vraptor-qs-serialization.git
[submodule "vraptor-blank-project-heroku"]
	path = vraptor-blank-project-heroku
	url = git@github.com:dennysfredericci/vraptor-blank-project-heroku.git
[submodule "vraptor-spring-environment"]
	path = vraptor-spring-environment
	url = git@github.com:dennysfredericci/vraptor-spring-environment.git
[submodule "vraptor-vraptor2"]
	path = vraptor-vraptor2
	url = https://github.com/caelum/vraptor-vraptor2
[submodule "vraptor-load-object"]
	path = vraptor-load-object
	url = git@github.com:carlosjrcabello/vraptor-load-object.git
[submodule "vraptor-js-i18n"]
	path = vraptor-js-i18n
	url = git@github.com:carlosjrcabello/vraptor-js-i18n.git
[submodule "vraptor-taglib"]
	path = vraptor-taglib
	url = git@github.com:dennysfredericci/vraptor-taglib.git
[submodule "vraptor-plugin-hibernate4"]
	path = vraptor-plugin-hibernate4
	url = git@github.com:garcia-jj/vraptor-plugin-hibernate4.git
[submodule "vraptor-plugin-cdi"]
	path = vraptor-plugin-cdi
	url = git@github.com:garcia-jj/vraptor-plugin-cdi.git
[submodule "vraptor-js-controller"]
	path = vraptor-js-controller
	url = https://github.com/marceloemanoel/vraptor-js-controller
[submodule "vraptor-authentication"]
	path = vraptor-authentication
	url = http://github.com/rlazoti/vraptor-authentication
[submodule "vraptor-uploadconfig"]
	path = vraptor-uploadconfig
	url = http://github.com/caelum/vraptor-uploadconfig
[submodule "vraptor-less"]
	path = vraptor-less
	url = https://guilhermesilveira@github.com/caelum/vraptor-less.git
[submodule "vraptor-cep"]
	path = vraptor-cep
	url = http://github.com/lucasmedeirosleite/vraptor-cep
[submodule "vraptor-magicker"]
	path = vraptor-magicker
	url = http://github.com/lucasmedeirosleite/vraptor-magicker
[submodule "vraptor-mybatis"]
	path = vraptor-mybatis
	url = git@github.com:felipebenevides/vraptor-mybatis.git
[submodule "vraptor-moip"]
	path = vraptor-moip
	url = https://guilhermesilveira@github.com/caelum/vraptor-moip.git
[submodule "vraptor-datatables"]
	path = vraptor-datatables
	url = https://github.com/dennysfredericci/vraptor-datatables.git
[submodule "vraptor_hypermedia_enhancement"]
	path = vraptor_hypermedia_enhancement
	url = https://github.com/filipesperandio/vraptor_hypermedia_enhancement
[submodule "vraptor-breadcrumb"]
   path = vraptor-breadcrumb
   url = https://github.com/pvrsouza/vraptor-breadcrumb.git
[submodule "vraptor-mustache"]
   path = vraptor-mustache
   url = https://github.com/cenobites/vraptor-mustache.git
[submodule "vraptor-shiro"]
	path = vraptor-shiro
	url = https://github.com/dipold/vraptor-shiro
[submodule "vraptor-brutauth"]
	path = vraptor-brutauth
	url = git@github.com:leocwolter/vraptor-brutauth.git
[submodule "vraptor-routes"]
	path = vraptor-routes
	url = https://github.com/caelum/vraptor-routes
[submodule "vraptor-simple-validator"]
	path = vraptor-simple-validator
	url = http://github.com/caelum/vraptor-simple-validator
[submodule "vraptor4js-plugin"]
	path = vraptor4js-plugin
	url = http://github.com/marcioferlan/vraptor4js-plugin
[submodule "vraptor-action-cache"]
	path = vraptor-action-cache
	url = https://github.com/asouza/vraptor-action-cache
[submodule "vraptor-form"]
	path = vraptor-form
	url = https://github.com/asouza/vraptor-form
[submodule "vaas"]
	path = vaas
	url = https://github.com/asouza/vaas
[submodule "vraptor-streamable-pages"]
	path = vraptor-streamable-pages
	url = https://github.com/asouza/vraptor-streamable-pages
[submodule "vraptor-paginator"]
	path = vraptor-paginator
	url = https://github.com/caelum/vraptor-paginator
[submodule "vraptor-i18n"]
	path = vraptor-i18n
	url = https://github.com/caelum/vraptor-i18n
[submodule "vraptor-extjsjson"]
	path = vraptor-extjsjson
	url = https://github.com/linyatis/vraptor-extjsjson.git
[submodule "vraptor-external-view"]
	path = vraptor-external-view
	url = http://github.com/ledandre/vraptor-external-view
[submodule "vraptor-panettone"]
	path = vraptor-panettone
	url = http://github.com/caelum/vraptor-panettone
[submodule "vraptor-biscotti"]
	path = vraptor-biscotti
	url = http://github.com/caelum/vraptor-biscotti
[submodule "vraptor-biscotti-compiler"]
	path = vraptor-biscotti-compiler
	url = http://github.com/caelum/vraptor-biscotti-compiler
[submodule "vraptor-glue"]
	path = vraptor-glue
	url = http://github.com/caelum/vraptor-glue
[submodule "vraptor-java8"]
	path = vraptor-java8
	url = http://github.com/caelum/vraptor-java8
[submodule "vraptor-amazons3"]
	path = vraptor-amazons3
	url = http://github.com/caelum/vraptor-amazons3
[submodule "vraptor-hibernate-atomicity"]
	path = vraptor-hibernate-atomicity
	url = https://github.com/MAAARKIN/vraptor-hibernate-atomicity
[submodule "vraptor-flash-i18n"]
	path = vraptor-flash-i18n
	url = https://github.com/ProjectUrutau/vraptor-flash-i18n
[submodule "vraptor-thymeleaf"]
	path = vraptor-thymeleaf
	url = https://github.com/mpbalmeida/vraptor-thymeleaf
[submodule "vraptor-j2html"]
	path = vraptor-j2html
	url = https://github.com/gbrandalise/vraptor-j2html
