[submodule "vraptor-authz"]
	path = vraptor-authz
	url = git://github.com/qmx/vraptor-authz.git
[submodule "vraptor-gson-serializer"]
	path = vraptor-gson-serializer
	url = https://github.com/luizsignorelli/vraptor-gson-serializer.git
[submodule "vraptor-simplemail"]
	path = vraptor-simplemail
	url = https://github.com/caelum/vraptor-simplemail
[submodule "vraptor-freemarker"]
	path = vraptor-freemarker
	url = https://github.com/caelum/vraptor-freemarker
[submodule "vraptor-environment"]
	path = vraptor-environment
	url = https://github.com/caelum/vraptor-environment
[submodule "vraptor-jasperreport"]
	path = vraptor-jasperreport
	url = git@github.com:wpivotto/vraptor-jasperreport.git
[submodule "vraptor-extractor"]
	path = vraptor-extractor
	url = https://github.com/jrdalpra/br.com.caelum.vraptor.util.extractor.git
[submodule "vraptor-sequence-validator"]
	path = vraptor-sequence-validator
	url = git@github.com:felipepedrini/vraptor-sequence-validator.git
[submodule "vraptor-test"]
	path = vraptor-test
	url = git@github.com:caelum/vraptor-test.git
[submodule "vraptor-neo4j"]
	path = vraptor-neo4j
	url = git@github.com:caelum/vraptor-neo4j.git
[submodule "vraptor-gson-plugin"]
	path = vraptor-gson-plugin
	url = git@github.com:acdesouza/vraptor-gson-plugin.git
[submodule "vraptor-templates"]
	path = vraptor-templates
	url = git@github.com:wpivotto/vraptor-templates.git
[submodule "vraptor-tasks"]
	path = vraptor-tasks
	url = git@github.com:wpivotto/vraptor-tasks.git
[submodule "vraptor-qs-serialization"]
	path = vraptor-qs-serialization
	url = https://github.com/moisespsena/vraptor-qs-serialization.git
[submodule "vraptor-blank-project-heroku"]
	path = vraptor-blank-project-heroku
	url = git@github.com:dennysfredericci/vraptor-blank-project-heroku.git
[submodule "vraptor-spring-environment"]
	path = vraptor-spring-environment
	url = git@github.com:dennysfredericci/vraptor-spring-environment.git
[submodule "vraptor-vraptor2"]
	path = vraptor-vraptor2
	url = https://github.com/caelum/vraptor-vraptor2
[submodule "vraptor-load-object"]
	path = vraptor-load-object
	url = git@github.com:carlosjrcabello/vraptor-load-object.git
[submodule "vraptor-js-i18n"]
	path = vraptor-js-i18n
	url = git@github.com:carlosjrcabello/vraptor-js-i18n.git
[submodule "vraptor-taglib"]
	path = vraptor-taglib
	url = git@github.com:dennysfredericci/vraptor-taglib.git
[submodule "vraptor-plugin-hibernate4"]
	path = vraptor-plugin-hibernate4
	url = git@github.com:garcia-jj/vraptor-plugin-hibernate4.git
[submodule "vraptor-plugin-cdi"]
	path = vraptor-plugin-cdi
	url = git@github.com:garcia-jj/vraptor-plugin-cdi.git
[submodule "vraptor-js-controller"]
	path = vraptor-js-controller
	url = https://github.com/marceloemanoel/vraptor-js-controller
